BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Stroustrup
SortIncludes: false
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
IndentCaseLabels: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
SpacesBeforeTrailingComments: 2
NamespaceIndentation: None
ReflowComments: false
