Checks: >-
  -*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -modernize-avoid-c-arrays,
  -modernize-deprecated-headers,
  -modernize-raw-string-literal,
  -modernize-return-braced-init-list,
  -modernize-use-emplace,
  -modernize-use-starts-ends-with,
  -modernize-use-trailing-return-type,
  -readability-avoid-nested-conditional-operator,
  -readability-braces-around-statements,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -readability-inconsistent-declaration-parameter-name,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-suspicious-call-argument,
  -readability-uppercase-literal-suffix,
  -readability-function-cognitive-complexity
WarningsAsErrors: >-
  bugprone-*
HeaderFilterRegex: '^(src|tests)/'
FormatStyle: file
