## <summary>AegisBPF eBPF Security Agent Policy Interface</summary>

########################################
## <summary>
##      Execute aegisbpf in the aegisbpf domain.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed to transition.
##      </summary>
## </param>
#
interface(`aegisbpf_domtrans',`
    gen_require(`
        type aegisbpf_t, aegisbpf_exec_t;
    ')

    corecmd_search_bin($1)
    domtrans_pattern($1, aegisbpf_exec_t, aegisbpf_t)
')

########################################
## <summary>
##      Read aegisbpf configuration files.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`aegisbpf_read_config',`
    gen_require(`
        type aegisbpf_conf_t;
    ')

    files_search_etc($1)
    read_files_pattern($1, aegisbpf_conf_t, aegisbpf_conf_t)
')

########################################
## <summary>
##      Read and write aegisbpf runtime data.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`aegisbpf_manage_lib',`
    gen_require(`
        type aegisbpf_var_lib_t;
    ')

    files_search_var_lib($1)
    manage_dirs_pattern($1, aegisbpf_var_lib_t, aegisbpf_var_lib_t)
    manage_files_pattern($1, aegisbpf_var_lib_t, aegisbpf_var_lib_t)
')

########################################
## <summary>
##      All of the rules required to administrate
##      an aegisbpf environment.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
## <param name="role">
##      <summary>
##      Role allowed access.
##      </summary>
## </param>
#
interface(`aegisbpf_admin',`
    gen_require(`
        type aegisbpf_t;
        type aegisbpf_conf_t;
        type aegisbpf_var_lib_t;
    ')

    allow $1 aegisbpf_t:process { ptrace signal_perms };
    ps_process_pattern($1, aegisbpf_t)

    files_search_etc($1)
    admin_pattern($1, aegisbpf_conf_t)

    files_search_var_lib($1)
    admin_pattern($1, aegisbpf_var_lib_t)
')
