Architecture: amd64
Depends: libbpf1 | libbpf0
Description: AegisBPF runtime security agent
Maintainer: aegisbpf@localhost
Package: aegisbpf
Priority: optional
Section: devel
Version: 0.1.0
Installed-Size: 1468

